.login {
  width: 300px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login input {
  padding: 10px;
}

.login button {
  cursor: pointer;
  padding: 10px;
  background: black;
  color: white;
  border: none;
}